@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
    width: 100wh;
height: 90vh;
background: linear-gradient(-45deg, #E73C7E, #23A6D5, #23D5AB);
background-size: 200% 200%;
}
body
{font-family: 'Montserrat Alternates', sans-serif;}